/* StockList.css */
.red-cell {
    background-color: red;
    color: white;
}

.green-cell {
    background-color: green;
    color: white;
}
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.hidden {
    display: none;
}

.visible {
    display: block;
}